---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import Proyectos from "@/components/Proyextos/Proyectos";
import naturaleza from "@/img/naturaleza.jpg";
import Github from "@/icons/GitHub.astro";
import Linkendin from "@/icons/Linkendin.astro";
import Love from "@/icons/Love.astro";
import Correo from "@/icons/Correo.astro";
import { Carrusel } from "../components/carrusel/Carrusel";
---

<Layout title="Welcome to Astro.">
  <div class="px-2 gap-20 flex flex-col">
    <div
      class="container mx-auto grid grid-cols-5 md:grid-cols-10 gap-4 h-screen md:h-96 grid-rows-1"
    >
      <div
        class="col-span-5 md:col-span-6 relative h-full rounded-xl row-span-1"
      >
        <picture class="h-96 opacity-75 rounded-xl">
          <img
            class="w-full h-full object-cover object-center rounded-xl"
            src={naturaleza.src}
            alt="Naturaleza"
          />
        </picture>
        <div class="absolute inset-x-2 md:inset-x-4 bottom-0 py-2">
          <h1 class="text-3xl font-bold text-white">Edward Yllanes Quirari</h1>
          <span class="text-xl font-medium text-white">Front-end Develper</span>
          <div class="flex mt-2 gap-2">
            <a
              href="https://github.com/edwardyq67"
              target="_blank"
              class="span flex gap-2 justify-center items-center text-black bg-white py-1 px-2 rounded-md font-semibold cursor-pointer"
            >
              <Github />
              <h3>GitHub</h3>
            </a>
            <a
              href="https://www.linkedin.com/in/edward-yllanes-quirari-87aa38288"
              target="_blank"
              class="span flex gap-2 justify-center items-center text-black bg-white py-1 px-2 rounded-md font-semibold cursor-pointer"
            >
              <Linkendin />
              <h3>Linkendin</h3>
            </a>
            <a
              href="mailto:edwardyq200167@gmail.com"
              target="_blank"
              class="span flex gap-2 justify-center items-center text-black bg-white py-1 px-2 rounded-md font-semibold cursor-pointer"
            >
              <Correo />
              <h3>Correo</h3>
            </a>
          </div>
        </div>
      </div>
      <div
        class="col-span-5 md:col-span-4 grid grid-cols-2 gap-4 grid-rows-2 row-span-1 h-[50vh] sm:h-96"
      >
        <div
          class="col-span-2 row-span-1 flex flex-col bg-zinc-900 justify-center items-start rounded-lg gap-2"
        >
          <h2 class="text-2xl font-bold w-[80%] mx-auto">CONOCEME</h2>
          <p class="text-sm font-semibold w-[80%] mx-auto text-zinc-400">
            Desarrollador web con experiencia en dise単o, desarrollo y
            mantenimiento de aplicacion web front-end
          </p>
        </div>
        <div
          class="col-span-1 row-span-1 flex flex-col bg-zinc-900 justify-center items-center rounded-lg gap-2"
        >
          <h2 class="text-6xl font-bold">1</h2>
          <span class="text-zinc-400 text-sm font-semibold"
            >a単os de experiencia</span
          >
        </div>
        <div
          class="col-span-1 flex flex-col bg-zinc-900 justify-center items-center rounded-lg gap-2"
        >
          <picture class="h-full w-full relative">
            <img
              class="h-full w-full object-cover object-center rounded-lg opacity-30"
              src="https://img2.rtve.es/i/?w=1600&i=1310640747604.jpg"
              alt=""
            />
            <div
              class="absolute inset-0 flex flex-col items-center justify-center gap-3"
            >
              <picture
                class="relative flex justify-center items-center hover:scale-105 transition-all duration-300 animate-pulse"
              >
                <img
                  class="w-14 h-auto p-2 z-10"
                  src="https://erickvpomie.vercel.app/assets/memoji_face-DMt0_RTq.webp"
                  alt=""
                />

                <div
                  class="bg-zinc-900 opacity-55 border-4 border-green-700 w-20 h-20 rounded-full absolute animate-pulse"
                >
                </div>
              </picture>
              <p class="text-zinc-200 text-center text-sm font-semibold">
                Peru, Lima, San Juan de Lurigancho
              </p>
            </div>
          </picture>
        </div>
      </div>
    </div>
    <section>
      <Proyectos client:load />
    </section>
    <section>
      <Carrusel client:load />
    </section>
    <footer class="container mx-auto md:flex grid text-sm font-semibold bg-zinc-900 rounded-lg p-4 items-center text-zinc-400 gap-2 justify-between">
      <div class="flex flex-col gap-1">
   <h3>2024 Edward Yllanes. Todos los derechos reservado</h3>
   <p class="flex justify-start items-center gap-1">Made with love <Love/> and REACT</p>
        </div>

      <div class="flex flex-col gap-1 ">
        <span>
          <div class="flex mt-2 gap-2">
            <a
              href="https://github.com/edwardyq67"
              target="_blank"
              class="span flex gap-2 justify-center items-center text-black bg-white py-1 px-2 rounded-md font-semibold cursor-pointer"
            >
              <Github />
              <h3>GitHub</h3>
            </a>
            <a
              href="https://www.linkedin.com/in/edward-yllanes-quirari-87aa38288"
              target="_blank"
              class="span flex gap-2 justify-center items-center text-black bg-white py-1 px-2 rounded-md font-semibold cursor-pointer"
            >
              <Linkendin />
              <h3>Linkendin</h3>
            </a>
            <a
              href="mailto:edwardyq200167@gmail.com"
              target="_blank"
              class="span flex gap-2 justify-center items-center text-black bg-white py-1 px-2 rounded-md font-semibold cursor-pointer"
            >
              <Correo />
              <h3>Correo</h3>
            </a>
          </div>
        </span>
        <span>Ultima actualizacion: 6 de Octubre del 2024 </span>
      </div>
    </footer>
  </div>
</Layout>

<style>
  .hover\:animate-pulse {
    animation: pulse 1s ease-in-out infinite;
  }

  @keyframes pulse {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.05); /* Aumenta el tama単o para el pulso */
    }
    100% {
      transform: scale(1); /* Regresa al tama単o original */
    }
  }
</style>
