---
interface Props {
  title: string;
}
const { title } = Astro.props;
import Whatsapp from "@/icons/Whatsapp.astro";
import Download from "@/icons/Download.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <div class="p-4">
      <aside class="container mx-auto flex justify-between items-center py-5">
        <span class="bg-zinc-50 text-lg font-bold p-1 text-black">EY</span>
        <div class="flex items-center gap-4">
          <span class="cursor-pointer">
            <a href="https://wa.me/51916628409" target="_blank" rel="noopener noreferrer">
              <Whatsapp />
            </a>
          </span>    
			<a target="_blank" href="https://drive.google.com/file/d/1VBVlr0r6vQ9iFk13rQWKdosfZsCN0rCv/view?usp=drive_link" class="px-2 py-1 flex items-center justify-center gap-2 rounded-lg bg-zinc-50 font-semibold text-black"><Download/>Descargar CV</a>
		</div>
      </aside>
      <main class=" overflow-y-auto h-[90vh] hide-scrollbar">
        <slot />
      </main>
    </div>
  </body>
</html>
<style is:global>
  :root {
    --accent: 136, 58, 234;
    --accent-light: 224, 204, 250;
    --accent-dark: 49, 10, 101;
    --accent-gradient: linear-gradient(
      45deg,
      rgb(var(--accent)),
      rgb(var(--accent-light)) 30%,
      white 60%
    );
  }
  html {
    font-family: "CircularStd", system-ui, sans-serif;
    background: #000000;
    color: aliceblue;
  }
  .hide-scrollbar {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
}

.hide-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}
</style>
